<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testsmartitomandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.testsmartitomandroid.Start"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.Main"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.Login"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.Nav"
            android:label="@string/title_activity_nav" >
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.MyAttetion"
            android:label="@string/title_activity_my_attetion" >
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.ToolsBox"
            android:label="@string/title_activity_tools_box" >
        </activity>
        <activity
            android:name="com.example.testsmartitomandroid.ui.Setting"
            android:label="@string/title_activity_setting" >
        </activity>
    </application>

</manifest>
